/* DEFAULT STYLE */
body {
    margin: 0;
    color: #006989;
    background-color: #CCE490;
    font-family: 'Garamond', 'Times New Roman', 'Serif';
}

main {
    text-align: center;
    padding: 20px;
}

pre {
    display: block;
    text-align: left;
    white-space: pre;
    margin: 0;
}

.ascii-art {
    font-size: 2ch; 
    line-height: 1.1;
    max-width: 100%; 
    overflow: auto; 
    text-align: center;
    padding: 10px;
}

footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    text-align: center;
    padding: 10px;
    color: #CCE490;
    background-color: #006989;
}

header {
    width: 100%;
    margin: 0;
    padding: 0;
}

header nav {
    width: 100%;
    margin: 0;
    padding: 0;
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #006989; 
}

header nav ul li {
    padding: 8px;
    text-align: center;
}

header ul a {
    text-decoration: none;
    color: #CCE490;
}

/* MOBILE SIZED SCREENS */
@media (max-width: 767px) {
    .ascii-art {
        font-size: 1.5ch; 
        padding: 5px; 
    }
}

/* TABLET SIZED SCREENS */
@media (min-width: 768px) {
    body {
        font-family: 'Courier New', 'Courier', 'monospace';
        color: #FF7D29;
        background-color: #FFEEA9;
    }
    
    main {
        text-align: right;
        margin: 10px;
        padding: 0;
    }

    header nav {
        background-color: #FF7D29;
    }

    header nav ul {
        flex-direction: row;
        justify-content: right;
        background-color: #FF7D29;
    }

    header nav ul li {
        color: #FFEEA9; 
    }

    header nav ul li a {
        color: #FFEEA9;
    }

    .ascii-art {
        font-size: 2.5ch; 
        max-height: 80vh;
        padding: 20px;
    }

    footer {
        position: fixed;
        bottom: 0px;
        height: center;
        width: 100%;
        color: #FFEEA9;
        background-color: #FF7D29; 
    }
}

/* DESKTOP SIZED SCREENS */
@media (min-width: 960px) {
    body {
        font-family: 'Copperplate', 'Papyrus', 'fantasy';
        color: #D20062;
        background-color: #D895DA;
        font-size: 24px;
    }

    main {
        text-align: center;
        padding: 10px;
    }

    header nav {
        background-color: #D20062;
    }

    header nav ul {
        text-align: center;
        flex-direction: row;
        justify-content: space-between;
        background-color: #D20062;
        font-size: 24px;
    }

    header nav ul li {
        text-align: center;
        color: #D895DA; 
    }

    header nav ul li a {
        color: #D895DA;
    }

    .ascii-art {
        font-size: 3ch; 
        max-height: 70vh; 
        padding: 18px;
    }

    footer {
        text-align: center;
        padding: 18px;
        color: #D895DA;
        background-color: #D20062; 
    }
}
