* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(to bottom, #7FB3C2 30%, #A3D6E1);
    padding-top: 50px
}
header {
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
    letter-spacing: 1.5px;
}
.drag {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 320px;
    gap: 3px;
    cursor: grab;
}
.drag .dragbox {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
    width: 100px;
    height: 132px;
    background: #000;
}
.images {
    position: relative;
    width: 100%;
    height: 100%;
    background: var(--img);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.reset {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    position: absolute;
    bottom: 350px;
    left: 50%;
    transform: translateX(-50%);
    padding: 15px 25px;
    border: none;
    background: #fff;
    color: #0b5264;
    font-size: 1em;
    font-weight: 700;
    cursor: pointer;
}